@import "./../../App.scss";

.main {
  padding: 25px;
}

h1 {
  color: $darkPurple;
  font-size: 2.75em;
}

h5 {
  color: $darkPurple;
}

p {
  color: rgba(255, 255, 255, 0.321);
}

.email {
  // &:hover {
  //   text-decoration: underline;
  //   cursor: pointer;
  // }
}
