.markdown {
  font-family: "SF Mono";
  padding: 20px;
  padding-top: 0;
  padding-bottom: 120px;
  a {
    color: #b17986;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
